.line-chart .recharts-tooltip-cursor {
    stroke-width:600px;
    stroke:rgba(165,0,0,0.5);
    transform:scale(1, 2) translate(300px, -100px);
}

.recharts-surface {
    overflow:visible;
}

.line-chart {
    width:28% !important;
    height:inherit !important;
    aspect-ratio: 1 / 1;
    /* padding:20px; */
    overflow:hidden;
    padding:20px;
    border-radius:10px;
}

.line-chart .recharts-text {
    fill:white;
    opacity:0.7;
}

.line-chart .recharts-line-curve {
    stroke-width:2px;
}

.custom-tooltip {
    background-color:white;
    padding:7.5px 15px;
}

.custom-tooltip p {
    color:black !important;
    margin-top:0;
    margin-bottom:0;
    font-weight:bold;
}

#user_profile > div.mc > div.graph-p > div.bottom-p > div.line-chart > div > div > svg > g.recharts-layer.recharts-cartesian-axis.recharts-xAxis.xAxis > line {
    stroke:transparent;
}